<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Expediciones_Abiertas.My.MySettings.Pedidos_OSConnectionString"
            connectionString="Data Source=10.0.2.254;Initial Catalog=Expediciones;User ID=SA;Password=sj39CME5"
            providerName="System.Data.SqlClient" />
        <add name="Expediciones_Abiertas.My.MySettings.FELIXCANConnectionString"
            connectionString="Data Source=10.0.2.19;Initial Catalog=Felixcan;User ID=ReadOnlyDB;Password=D@t@m@rs.05"
            providerName="System.Data.SqlClient" />
        <add name="Expediciones_Abiertas.My.MySettings.production_systemConnectionString"
            connectionString="server=192.168.14.13;user id=root;persistsecurityinfo=True;database=production_system"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
